body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    gap: 1rem;
}

.circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(90deg);
    /* Start from the top */
    transform-origin: 50% 50%;
}